includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    excludePaths:
        - src/Filament
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given#'
        - '#Parameter \#1 \$view of method Illuminate\\Mail\\Mailable::markdown\(\) expects view-string, string given#'
        - '#Called .env. outside of the config directory#'
